.box-container {
    position: relative;
    min-height: 100%;
    width: 100%;
    background-color: #dcdcdf; /* nền xám */
    overflow: hidden;
    padding: 120px 0;
}

    .box-container::before,
    .box-container::after {
        content: "";
        position: absolute;
        width: 400px;
        height: 400px;
        background-color: #e0bf94; /* màu be */
        border-radius: 50%;
        z-index: 0;
    }

/* góc trên trái */
.box-container::before {
    top: -150px;
    left: -150px;
}

/* góc dưới phải */
.box-container::after {
    bottom: -150px;
    right: -150px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    margin: 0 auto;
    background-color: white;
    border-radius: 12px;
    padding: 6px;
    border: 1px solid rgba(255,255,255,0.6);
    box-shadow: 0 10px 30px rgba(0,0,0,0.08),
    0 2px 6px rgba(0,0,0,0.05);
}
.form-box {
    width: 100%;
    background-color: #e9e9ec;
    border-radius: 12px;
    padding: 30px 40px 50px 40px;
}
.sc-7{
    display: flex;
    align-items: center;
}
.line{
    flex: 1;
}
.mg-5{
    margin: 0 5px;
}

.mb-10{
    margin-bottom: 10px
}

.bor-radius-4{
    border-radius: 4px;
}